body {
    font-family: "Courier";
    background-color: #009900;
    color: white;
    padding: 0px 20px 0px 20px;
}

table {
    border: none;
    border-spacing: 10px;
}

#main {
    overflow: auto;
    width: 100%;
}

.line {
    white-space: nowrap;
}

.fibonacci {
    display: inline-block;
    vertical-align: middle;
}

.fibonacci-list {
    display: inline-block;
    vertical-align: top;
}

.button {
    background-color: #009900;
    width: 100px;
    border: 1px solid white;
    color: white;
    height: 28px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

input[type="text"] {
    display: block;
    margin: 0;
    height: 25px;
    background-color: #009900;
    color: white;
    border: none;
}

textarea {
    display: block;
    margin: 0;
    height: 400px;
    background-color: #009900;
    color: white;
    border: none;
}

#fib_output {
    width: 600px;
    margin-left: 10px;
}

#fib_list_output {
    width: 600px;
    margin-left: 10px;
}