body {
    font-family: "Courier";
    background-color: #009900;
    color: white;
    padding: 0px 20px 0px 20px;
}

#main {
    overflow: auto;
    width: 100%;
    //border: 1px solid white;
}

.line {
    //border: 1px solid white;
}

.fibonacci {
    display: inline-block;
    vertical-align: middle;
}

.prompt, .output {
    margin-top: 3px;
    border: none;
}

.fibonacci-list {
    display: inline-block;
    vertical-align: top;
}

input[type="text"] {
    //display: block;
    //margin-left: 0px;
    height: 25px;
    background-color: #009900;
    color: white;
    border: none;
    font-size: 14px;
}
