body {
    font-family: "Courier";
    background-color: #009900;
    color: white;
    padding: 0px 20px 0px 20px;
}

#main {
    overflow: auto;
    width: 100%;
}

.fibonacci {
    vertical-align: middle;
}

.prompt, .output {
    border: none;
}

.output {
    word-wrap: break-word;
}

.fibonacci-list {
    display: inline-block;
    vertical-align: top;
}

input[type="text"] {
    width: 85%;
    font-family: "Courier";
    margin-left: 10px;
    height: 25px;
    background-color: #009900;
    color: white;
    border: none;
    font-size: 16px;
}
