@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Welcome to the Fibonacci Server") {

<script language="JavaScript">
    function goFib(event, text) {
        if (event && event.keyCode == 13 && text != "") {
            goFibHelper("fib")
        }
    }

    function goFibList(event, text) {
        if (event && event.keyCode == 13 && text != "") {
            goFibHelper("fib_list")
        }
    }

    function goFibHelper(op) {
        url = "/" + op + "/" + document.getElementById(op + "_input").value;

        var xhttp = new XMLHttpRequest()
        xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4) {
                document.getElementById(op + "_output").value = xhttp.responseText
            }
        };
        xhttp.open("GET", url, true)
        xhttp.send()
    }
</script>

<h1 align="center">Welcome to the Fibonacci Server</h1>

<div id="main">
    <div class="line">
        <span class="fibonacci" style="width: 200px; text-align: right;">fibonacci(n):</span>
        <span class="fibonacci"><input type="text" id="fib_input" placeholder="Enter n ≤ 2¹⁹ and hit return" onkeypress="goFib(event, this.value)"></span>
        <span class="fibonacci"><input type="text" id="fib_output" readonly="readonly"></span>
    </div>
    <br>
    <div class="line">
        <span class="fibonacci-list" style="padding-top: 5px; width: 200px; text-align: right;">fibonacci_list(n):</span>
        <span class="fibonacci-list"><input type="text" id="fib_list_input" placeholder="Enter n ≤ 2¹² and hit return" onkeypress="goFibList(event, this.value)"></span>
        <span class="fibonacci-list" style="padding-top: 8px;"><textarea id="fib_list_output" readonly="readonly"></textarea></span>
    </div>
</div>

}
