@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String, maxFibInput: Int, maxFibListInput: Int)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Welcome to the Fibonacci Server") {

<body onload="reset()">
<script language="JavaScript">
    var currentId = 0

    function reset() {
        newCommand()
        document.getElementById("fib_input_" + currentId).value = ""
        document.getElementById("fib_input_" + currentId).focus()
    }

    function goFib(event, text) {
        if (event && event.keyCode == 13 && text != "") {
            clearOutput()
            n = text.split(" ")[1]
            if (text.startsWith("fib ") && text.split(" ").length == 2 && is_numeric(n)) {
                goFibHelper("fib", n)
            } else if (text.startsWith("fib_list ") && text.split(" ").length == 2 && is_numeric(n)) {
                goFibHelper("fib_list", n)
            } else {
                errorMessage()
                newCommand()
            }
        }
    }

    function is_numeric(str){
        return /^-?\d+$/.test(str);
    }

    function goFibHelper(op, n) {
        url = "/" + op + "/" + n;

        var xhttp = new XMLHttpRequest()
        xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4) {
                setOutput(xhttp.responseText, xhttp.status != 200)
                newCommand()
            }
        };
        xhttp.open("GET", url, true)
        xhttp.send()
    }

    function clearOutput() {
        document.getElementById("fib_output_" + currentId).innerHTML = ""
        document.getElementById("fib_output_" + currentId).style = "color: white;"
    }

    function errorMessage() {
        setOutput("Invalid command.", true)
    }

    function setOutput(text, isError) {
        document.getElementById("fib_output_" + currentId).innerHTML = text
        if (isError) {
            document.getElementById("fib_output_" + currentId).style = "color: #ff3333;"
        }
    }

    function newCommand() {
        if (currentId > 0) {
            document.getElementById("fib_input_" + currentId).readOnly = true
        }

        currentId++

        div = document.createElement("div")
        div.setAttribute("class", "line")
        span = document.createElement("span")
        span.setAttribute("class", "fibonacci prompt")
        span.innerHTML = "$ ~/fib_srv&gt;"
        div.appendChild(span)
        span = document.createElement("span")
        span.setAttribute("class", "fibonacci")

        var input = document.createElement("input");
        input.type = "text";
        input.id = "fib_input_" + currentId
        input.addEventListener("keypress", function(event) { goFib(event, this.value) })
        span.appendChild(input);
        div.appendChild(span)
        document.getElementById("main").appendChild(div)
        document.getElementById("fib_input_" + currentId).focus()

        div = document.createElement("div")
        div.setAttribute("class", "line output")
        span = document.createElement("span")
        span.setAttribute("class", "fibonacci")
        span.id = "fib_output_" + currentId
        div.appendChild(span)
        document.getElementById("main").appendChild(div)
    }
</script>

<h1 align="center">Welcome to the Fibonacci Server</h1>

<p style="line-height: 20px;">
    Valid commands are:<br><br>
    <b>fib <i>n</i></b> <font size="-1">(<i>n</i> &le; @maxFibInput)</font><br>
    <b>fib_list <i>n</i></b> <font size="-1">(<i>n</i> &le; @maxFibListInput)</font><br>
</p>
<p style="line-height: 20px;">
    Reload page to clear output.
</p>

<div id="main">
</div>

</body>
}
